<%- include ("../_layout/adminHeader.ejs") %> 
<h2 class="page-title">Products</h2>
<a href="/admin/products/add-product/" class="btn btn-primary">Add a New Product</a>
<a ></a>
<br><br>

<% if (count>0) { %>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Price</th>
            <th>Product Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product) { %>
        <tr>
            <td><%= product.title %></td>
            <td><%= product.category %></td>
            <td>$<%= parseFloat(product.price).toFixed(2) %></td>
            <td>
                <% if (product.image =="") { %>
                    <img id ="ig" src="/images/noimage.png" alt="">
                <% } else { %>
                    <img id="ig" src="/product_images/<%= product._id %>/<%= product.image %>">
                <% } %> 
            </td>
            <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>            
            <td><a href="/admin/products/delete-product/<%= product._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<% } else { %>
<h3 class="text-center">There are no Products.</h3>
<% } %>

<%- include ("../_layout/adminFooter.ejs") %>